# Dependencies
frontend/node_modules/
backend/vendor/

# Environment files
frontend/.env
backend/.env
.env

# Build files
frontend/build/
frontend/dist/

# Laravel specific
backend/storage/*.key
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*
backend/public/storage
backend/public/hot

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# InsightFace Benchmark Data
backend/face/insightface/tests/data/lfw-funneled.tgz